body {
    background-color: #1f368c;
}

@font-face {
    font-family: "tieng-font";
    src: url("tieng-font.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "tieng-font";
}

h1 { 
    margin: 0;
    font-family: 'tieng-font';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

a:visited { 
    color: #FFFFFF
}

a:active {
    color:#FFFFFF
}

a:active {
    color:#FFFFFF
}

.center {
    text-align: center;
}