body {
    background-color: #1f368c;
}

@font-face {
    font-family: "custom-font";
    src: url("Tieng-Font.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "custom-font";
}
