
@font-face {
  font-family: "tieng-font";
  src: url("tieng-font.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "tieng-font";
    background-color: #1f2c7c;
}

h1, h2 {
  margin: 0;
  font-family: "tieng-font";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  transform: scale(1.7);
}

h1 {
  background-color: #1f2c7c;
}


.letter-box-blue-t {
  position: relative;
  background: #1f2c7c;
  color: #ffffff;
  padding: 1px 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  box-shadow: 15px 15px #111d5c;
  border: 4px solid #ffffff;
  border-radius: 6px;
  top: 130px;
  right: 100px;
  transform: scale(1.5);
}

.letter-box-blue-t::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid #ffffff;
  border-style: double;
  border-radius: 8px;
  top: 130px;
  right: 100px;
  transform: scale(1.5);
}

.letter-box-blue-i {
  position: relative;
  background: #1f2c7c;
  color: #ffffff;
  padding: 1px 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  box-shadow: 15px 15px #111d5c;
  border: 4px solid #ffffff;
  border-radius: 6px;
  top: 80px;
  right: 58px;
  transform: scale(1.5);
}

.letter-box-blue-i::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid #ffffff;
  border-style: double;
  border-radius: 8px;
  top: 80px;
  right: 58px;
  transform: scale(1.5);
}
.letter-box-blue-e {
  position: relative;
  background: #1f2c7c;
  color: #ffffff;
  padding: 1px 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  box-shadow: 15px 15px #111d5c;
  border: 4px solid #ffffff;
  border-radius: 6px;
  top: 170px;
  left: -10px;
  transform: scale(1.5);
}

.letter-box-blue-e::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid #ffffff;
  border-style: double;
  border-radius: 8px;
  top: 170px;
  left: -10px;
  transform: scale(1.5);
}
.letter-box-blue-n {
  position: relative;
  background: #1f2c7c;
  color: #ffffff;
  padding: 1px 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  box-shadow: 15px 15px #111d5c;
  border: 4px solid #ffffff;
  border-radius: 6px;
  top: 80px;
  right: -45px;
  transform: scale(1.5);
}

.letter-box-blue-n::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid #ffffff;
  border-style: double;
  border-radius: 8px;
  top: 80px;
  right: -45px;
  transform: scale(1.5);
}
.letter-box-blue-g {
  position: relative;
  background: #1f2c7c;
  color: #ffffff;
  padding: 1px 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  box-shadow: 15px 15px #111d5c;
  border: 4px solid #ffffff;
  border-radius: 6px;
  top: 120px;
  left: 100px;
  transform: scale(1.5);
}

.letter-box-blue-g::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid #ffffff;
  border-style: double;
  border-radius: 8px;
  top: 120px;
  left: 100px;
  transform: scale(1.5);
}
.letter-box-white-a {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  top: -10px;
  right: 220px;
}

.letter-box-white::before-a {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #1f2c7c;
  border-style: double;
  border-radius: 4px;
  top: -10px;
  right: 220px;
}
.letter-box-white-b {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
}

.letter-box-white::before-b {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #1f2c7c;
  border-style: double;
  border-radius: 4px;
}
.letter-box-white-c {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
}

.letter-box-white::before-c {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #1f2c7c;
  border-style: double;
  border-radius: 4px;
}
.letter-box-white-d {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
}

.letter-box-white::before-d {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #1f2c7c;
  border-style: double;
  border-radius: 4px;
}
.letter-box-white-e {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
}

.letter-box-white::before-e {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #1f2c7c;
  border-style: double;
  border-radius: 4px;
}