
@font-face {
  font-family: "tieng-font";
  src: url("tieng-font.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "tieng-font";
    background-color: #1f2c7c;
}

h1, h2 {
  margin: 0;
  font-family: "tieng-font";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  transform: scale(1.7);
}

h1 {
  background-color: #1f2c7c;
}

h3 {
   font-family: "tieng-font";
  transform: scale(3.5);
  margin-top: 400px; 
  text-align: center;
  color:#ffffff
}
h4 {
  font-family: "tieng-font";
  transform: scale(3.5);
  margin-top: 100px; 
  text-align: center;
  color:#ffffff
}
.divider {
  border: none;
  height: 2px;
  background-color: #ffffff;
  width: 80%; 
  margin: 10px; 
}
.letter-box-blue-t {
  position: relative;
  background: #1f2c7c;
  color: #ffffff;
  padding: 1px 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  box-shadow: 15px 15px #111d5c;
  border: 4px solid #ffffff;
  border-radius: 6px;
  top: 130px;
  right: 100px;
  transform: scale(1.5);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
 
.letter-box-blue-t:hover {
  background: #3a4fcf; 
  transform: scale(1.6) translateY(-10px); 
  box-shadow: 20px 20px #0e1540;
}


.letter-box-blue-i {
  position: relative;
  background: #1f2c7c;
  color: #ffffff;
  padding: 1px 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  box-shadow: 15px 15px #111d5c;
  border: 4px solid #ffffff;
  border-radius: 6px;
  top: 80px;
  right: 58px;
  transform: scale(1.5);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.letter-box-blue-i:hover {
  background: #3a4fcf; 
  transform: scale(1.6) translateY(-10px); 
  box-shadow: 20px 20px #0e1540;
}

.letter-box-blue-e {
  position: relative;
  background: #1f2c7c;
  color: #ffffff;
  padding: 1px 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  box-shadow: 15px 15px #111d5c;
  border: 4px solid #ffffff;
  border-radius: 6px;
  top: 170px;
  left: -10px;
  transform: scale(1.5);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.letter-box-blue-e:hover {
  background: #3a4fcf; 
  transform: scale(1.6) translateY(-10px); 
  box-shadow: 20px 20px #0e1540;
}

.letter-box-blue-n {
  position: relative;
  background: #1f2c7c;
  color: #ffffff;
  padding: 1px 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  box-shadow: 15px 15px #111d5c;
  border: 4px solid #ffffff;
  border-radius: 6px;
  top: 80px;
  right: -45px;
  transform: scale(1.5);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.letter-box-blue-n:hover {
  background: #3a4fcf; 
  transform: scale(1.6) translateY(-10px); 
  box-shadow: 20px 20px #0e1540;
}

.letter-box-blue-g {
  position: relative;
  background: #1f2c7c;
  color: #ffffff;
  padding: 1px 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  box-shadow: 15px 15px #111d5c;
  border: 4px solid #ffffff;
  border-radius: 6px;
  top: 120px;
  left: 100px;
  transform: scale(1.5);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.letter-box-blue-g:hover {
  background: #3a4fcf; 
  transform: scale(1.6) translateY(-10px); 
  box-shadow: 20px 20px #0e1540;
}


@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.letter-box-white-a {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  top: -50px;
  right: 40px;
  animation: upDown 1s infinite ease-in-out;
}

.letter-box-white-b {
  animation: upDown 1s infinite ease-in-out;
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  top: 90px;
  right: 100px

}

.letter-box-white-c {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  top: 160px;
  right: 50px;
  animation: upDown 1s infinite ease-in-out;
}

.letter-box-white-d {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  top: -80px;
  right: 80px;
  animation: upDown 1s infinite ease-in-out;
}

.letter-box-white-e {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  top: 120px;
  right: 50px;
  animation: upDown 1s infinite ease-in-out;
}

.letter-box-white-f {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  bottom: -200px;
  left: -10px;
  animation: upDown 1s infinite ease-in-out;
}

.letter-box-white-g {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  bottom: 50px;
  left: -40px;
  animation: upDown 1s infinite ease-in-out;
}

.letter-box-white-h {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  bottom: -120px;
  left: -10px;
  animation: upDown 1s infinite ease-in-out;
}

.letter-box-white-i {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  bottom: -170px;
  left: 20px;
  animation: upDown 1s infinite ease-in-out;
}

.letter-box-white-n {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 3px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  bottom: 90px;
  left: 60px;
  animation: upDown 1s infinite ease-in-out;
}

.letter-box-white-k {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  top: 160px;
  left: 50px;
  animation: upDown 1s infinite ease-in-out;
}

.letter-box-white-l {
  position: relative;
  background: #ffffff;
  color: #1f2c7c;
  padding: 1px 5px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 0 #111d5c;
  border: 4px solid #1f2c7c;
  border-radius: 6px;
  bottom: -30px;
  left: 40px;
  animation: upDown 1s infinite ease-in-out;
}